/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

.pt2rem {
    padding-top: 2rem;
}
.ptvh {
    padding-top: 12vh;
}
.ptvh7 {
    padding-top: 7vh;
}
.ptvh7 p {
    margin-bottom: 1rem;
}
.pb1rem {
    padding-bottom: 1rem;
}
.pb12rem {
    padding-bottom: 1.2rem;
}
.pb2rem {
    padding-bottom: 2rem;
}
.wjf {
    min-width: 100%;
}
.butmading {
    margin-top: 4rem;
    padding-top: 2rem;
}
/* set up the body */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    /*background-color: #f2f2f2;*/
    background-color: hsl( var(--clr-dark) );
    line-height: 1.5;
    max-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}

/* make images easier to work with */
img,
picutre {
    margin-left: 0.6rem;
    max-width: 80%;
    /*display: block;*/
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
/*@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}*/


/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 0.5rem);
}

.grid {
    display: grid;
    gap: var(--gap, 0.5rem);
}

.d-block {
    display: block;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
    --flow-space: .75rem;
}

.container {
    height: 10%;
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.skip-to-content {
    position: absolute;
    display: none;
    z-index: 9999;
    background: hsl( var(--clr-white) );
    color: hsl( var(--clr-dark) );
    padding: .5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
}

.skip-to-content:focus {
    transform: translateY(0);
}

/* colors */

.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-accent { background-color: hsl( var(--clr-light) );}
.bg-white { background-color: hsl( var(--clr-white) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-accent { color: hsl( var(--clr-light) );}
.text-white { color: hsl( var(--clr-white) );}

/* typography */

.ff-serif { font-family: var(--ff-serif); }
.ff-sans-cond { font-family: var(--ff-sans-cond); }
.ff-sans-normal { font-family: var(--ff-sans-normal); }

.letter-spacing-1 { letter-spacing: 4.75px; }
.letter-spacing-2 { letter-spacing: 2.7px; }
.letter-spacing-3 { letter-spacing: 2.35px; }
.letter-spacing-4 { letter-spacing: 1.22px; }

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }
.fs-111 { font-size: 1rem; }
.fs-15 { font-size: 1.5rem; }
.fs-222 { font-size: 2rem; }
.fs-333 { font-size: 3rem; }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px;
}

.numbered-title span {
    margin-right: .5em;
    font-weight: 700;
    color: hsl( var(--clr-white) / .25);
}


/* ------------------- */
/* Compontents         */
/* ------------------- */

.large-button {
    font-size: 2rem;
    position: relative;
    z-index: 1;
    display: inline-grid;
    place-items: center;
    padding: 0 1.5em;
    border-radius: 50%;
    aspect-ratio: 1;
    text-decoration: none;
}

.large-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: hsl( var(--clr-white) / .1);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}

/* primary-header */

/*.logo {
    margin: 1rem .2rem .1rem 0;
    !*margin: 1.5rem clamp(1.5rem, 3vw, 3.5rem);*!
    min-width: 320px;
    max-width: 322px;
    height: auto;
}*/
.logo {
    color: whitesmoke;
    font-weight: 700;
    font-size: 2rem;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    text-decoration: none;
    max-width: 216px;
    height: auto;
    margin: 0;
    padding: 0;
}
.space {
    width: 100px;
    height: 1px;
}
.primary-header {
    max-width: 80vw;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
}
@media (max-width: 45rem) {
    .primary-header {
        max-width: 100vw;
    }
}
.primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: .5rem;
    background: rgba(255, 255, 255, 0.2);
    /*border-radius: 16px;*/
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    /*backdrop-filter: blur(.5rem);*/
    -webkit-backdrop-filter: blur(5px);
    /*-webkit-transition: all 0.4s ease;*/
    /*transition: all 0.4s ease;*/
}

.primary-navigation a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
}

.primary-navigation a > span {
    color: #140044;
    font-weight: 700;
    margin-right: .5em;
}

.mobile-nav-toggle {
    display: none;
}


@media (max-width: 45rem) {
    .primary-navigation {
        --underline-gap: .5rem;
        position: fixed;
        z-index: 222;
        inset: 0 0 0 25%;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }
    .primary-navigation a {
        color: #ffffff;
        /*text-shadow: 0px 1px 1px #000000;*/
    }
    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }
    .primary-navigation.underline-indicators > .active {
        border: 0;
    }
    .mobile-nav-toggle {
        display: block;
        position: fixed;
        z-index: 2000;
        right: 2rem;
        top: 3rem;
        background: transparent;
        background-image: url(./assets/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
        cursor: pointer;
    }
    .mobile-nav-toggle[aria-expanded="true"] {
        position: fixed;
        background-image: url(./assets/shared/icon-close.svg);
    }
    .mobile-nav-toggle:focus-visible {
        outline: 5px solid white;
        outline-offset: 5px;
    }
}
@media (min-width: 45em) {
    .primary-navigation {
        padding-inline: clamp(3rem, 7vw, 7rem);
    }
}
@media (min-width: 45em) and (max-width: 44.999em) {
    .primary-navigation a > span {
        display: none;
    }
}

@media (min-width: 45em) {
    .primary-header::after {
        content: '';
        height: 3px;
        display: block;
        position: relative;
        width: 100%;
        margin-right: -4.4rem;
        margin-left: -3rem;
        /*background: rgba(208, 214, 249, 0.81);*/
        order: 1;
        z-index: -1;
    }
    nav {
        /*order: 2;*/
    }
    .primary-navigation {
        margin-block: 1rem;
    }
}

.underline-indicators > * {
    cursor: pointer;
    padding: var(--underline-gap, .5rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
    background-color: transparent;
}
.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: hsl( var(--clr-white) / .5);
}
.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    color: hsl( var(--clr-white) / 1);
    border-color: hsl( var(--clr-white) / 1);
}
.tab-list {
    --gap: 2rem;
}
.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: .5em;
    background-color: hsl( var(--clr-white) / .25);
}
.dot-indicators > *:hover,
.dot-indicators > *:focus {
    background-color: hsl( var(--clr-white) / .5);
}
.dot-indicators > [aria-selected="true"] {
    background-color: hsl( var(--clr-white) / 1);
}
/* ----------------------------- */
/* Page specific background      */
/* ----------------------------- */
body {
    background-size: cover;
    background-position: bottom center;
}
/* home */
.home {
    background-position: center center;
    /*background-image: url(./assets/destination/starfield-purp.jpeg);*/
}

@media (min-width: 35rem) {
    .home {
        background-position: center center;
        /*background-image: url(./assets/home/background-home-tablet.jpg);*/
    }
}

@media (min-width: 45rem) {
    .home {
        /*background-image: url(./assets/home/background-home-desktop.jpg);*/
    }
}

/* destination */
.destination {
    background-image: url(./assets/destination/background-destination-mobile.jpg);
}

@media (min-width: 35rem) {
    .destination {
        background-position: center center;
        background-image: url(./assets/destination/background-destination-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .destination {
        background-image: url(./assets/destination/background-destination-desktop.jpg);
    }
}

/* crew */
.crew {
    background-image: url(./assets/crew/background-crew-mobile.jpg);
}

@media (min-width: 35rem) {
    .crew {
        background-position: center center;
        background-image: url(./assets/crew/background-crew-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .crew {
        background-image: url(./assets/crew/background-crew-desktop.jpg);
    }
}

/* ----------------------------- */
/* Layout                        */
/* ----------------------------- */
.grid-container {
    text-align: center;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
    padding-bottom: 2rem;
}
.grid-container p:not([class]) {
    max-width: 50ch;
}
.numbered-title {
    grid-area: title;
}

/* destination layout */
.grid-container--destination {
    --flow-space: 2rem;
    grid-template-areas:
        'title'
        'image'
        'tabs'
        'content';
}
.grid-container--destination > picture {
    grid-area: image;
    max-width: 60%;
    align-self: start;
}
.grid-container--destination > .tab-list {
    grid-area: tabs;
}
.grid-container--destination > .destination-info {
    grid-area: content;
}
.destination-meta {
    flex-direction: column;
    border-top: 1px solid hsl( var(--clr-white) / .1);
    padding-top: 2.5rem;
    margin-top: 2.5rem;
}
.destination-meta p {
    font-size: 1.75rem;
}
/* crew layout */
/* crew layout */
.crew {
    --flow-space: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-areas:
        'title'
        'image'
        'tabs'
        'content';
}
.crew > picture {
    grid-area: image;
    max-width: 60%;
    border-bottom: 1px solid hsl( var(--clr-white) / .1);
}
.crew > .dot-indicators {
    grid-area: tabs;
}
.crew > .crew-details {
    grid-area: content;
}
.crew-details h2 {
    color: hsl( var(--clr-white) / .5);
}
@media (min-width: 35em) {
    .numbered-title {
        justify-self: start;
        margin-top: 2rem;
    }
    .destination-meta {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .crew {
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-bottom: 0;
        grid-template-areas:
            'title'
            'content'
            'tabs'
            'image';
    }


}

@media (min-width: 45em) {
    .grid-container {
        text-align: center;
        align-items: center;
        column-gap: var(--gap, 2rem);
        grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(1rem, 1fr);
    }

    .grid-container--home {
        /*padding-bottom: max(6rem, 20vh);*/
        align-items: end;
    }

    .grid-container--home > *:first-child {
        grid-column: 2;
    }

    .grid-container--home > *:last-child {
        grid-column: 3;
    }

    .grid-container--destination {
        justify-items: start;
        align-content: start;
        grid-template-areas:
            '. title title .'
            '. image tabs .'
            '. image content .';
    }

    .grid-container--destination > picture {
        max-width: 90%;
    }

    .destination-meta {
        --gap: min(6vw, 6rem);
        justify-content: start;
    }

    .grid-container--crew {
        grid-template-columns: minmax(1rem, 1fr) minmax(0, 37rem) minmax(0, 23rem) minmax(1rem, 1fr);
        justify-items: center;
        grid-template-areas:
            '. title title .'
            '. content image .'
            '. tabs image .';
    }

    .grid-container--crew > picture {
        grid-column: span 2;
        align-self: end;
        max-width: 90%;
    }

}


.footer {
    min-height: 80px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



@-webkit-keyframes STAR-MOVES {
    from {
        background-position: 10% 10%;
    }
    to {
        background-position: 1500% 500%;
    }
}

.background {
    min-height: 100%;
    min-width: 100%;
    background: black url(https://images.photowall.com/products/58533/starfield-purp.jpg?h=699&q=85);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -3;
    -webkit-animation-name: STAR-MOVES;
    -webkit-animation-duration: 500s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

}

.midground {
    min-height: 100vh;

    background: url(https://bit.ly/3vtcaor);
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    -webkit-animation-name: STAR-MOVES;
    -webkit-animation-duration: 1000s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.foreground {
    min-height: 100vh;

    background: url(https://earthsky.org/upl/2018/11/pleiades-seven-sisters-nov2019-e1572962425736.jpg);
    opacity: 0.13;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    -webkit-animation-name: STAR-MOVES;
    -webkit-animation-duration: 100s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@media (min-width: 45em) {
    .background {
        width: 100%;
        height: 100vh;
    }

    .midground {
        width: 100%;
    }

    .foreground {
        width: 100%;
    }
}

.fs-650_jones {
    font-size: 2.4rem;
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    overflow-y: scroll; /* Add the ability to scroll */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.hibu{
    color: rgba(28, 5, 34, 0.27);
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(128, 128, 128, 0.24);
}



