@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Slab:wght@400;500;800&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

body {
    /* width: 100%; */
    /* min-height: 100vh; */
    /*background: linear-gradient(#2b1055, #7597de);*/
    /* background-image: url("img/stars.jpg"); */
    /* background-size: contain; */
    overflow-x: hidden;
}

body::before {
    /* width: 100%; */
    /* min-height: 100vh; */
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    /*left: 0;*/
    width: 100%;
    /*padding: 30px 100px 30px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background: linear-gradient(to bottom, #1c0522, transparent);
    flex-direction: column;
}

/*.header {
    position: sticky;
    margin-top: 20px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}*/
header ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    margin-left: 2px;
    list-style: none;
}

header ul li a {
    color: whitesmoke;
    padding: 6px 15px;
    text-decoration: none;
    border-radius: 2rem;

}

header ul li a:hover,
header ul li a.active {
    background: whitesmoke;
    color: #2b1055;
    text-decoration: none;
}

header .logo {
    color: whitesmoke;
    font-weight: 700;
    font-size: 2rem;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    text-decoration: none;
}
.losiz{
    width: 300px;
    height: auto;
    margin: 0;
    padding: 0;
}

section {
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    /*padding: 100px;*/
    background-image: url("img/sbbb.png");
    /*background: #2b1055;*/
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}

.section2 {
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    /*padding: 100px;*/
    overflow: hidden;
    background-image: url("img/stars.jpg");

}

.section2::before {
    content: '';
    position: absolute;
    /*bottom: 0;*/
    top: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, #1c0522, transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.mountback {
    position: fixed;
    top: 700px;
    z-index: 1001;
}

section img#moon {
    mix-blend-mode: screen;
}

section img#mountains_front {
    z-index: 10;
}

.moon {
    left: 42%;
    top: 5%;
    width: 200px;
    height: 200px;
    z-index: 10;
}

.moon2 {
    position: sticky;
    left: 42%;
    top: 5%;
    width: 200px;
    height: 200px;
    z-index: 10;
}

#text {
    right: -720px;
    position: absolute;
    color: #ffffff;
    top: -12%;
    /*left: 34%;*/
    white-space: nowrap;
    font-size: 5.5vw;
    z-index: 9;
}

#btn {
    margin-top: 17%;
    margin-left: 45%;
    display: inline-block;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: whitesmoke;
    color: #2b1055;
    font-size: 1.25em;
    transform: translateY(100px);
    alignment: center;
    z-index: 10;
}

.sec {
    position: relative;
    padding: 100px;
    background: #1c0522;
    text-align: center;
}

.sec h1 {
    margin-top: 100px;
    padding-top: 100px;
}
.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: whitesmoke;
}

.sec p {

    font-size: 1em;
    color: whitesmoke;
}
.sec h2 {
    font-size: 3em;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 80px;
    padding-bottom: 100px;
    /*text-transform: uppercase;*/
    letter-spacing: 0.2rem;
    text-align: center;
}
.sec h2 span {
    color: #8e14ff;
}